@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,100;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Verdana, sans-serif; /*added Verdana as web safe font */
    font-size: 6px;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 2.8rem;
    padding-bottom: 2.5rem;
}
h2 {
    font-size: 2rem;
    padding-bottom: 2.5rem;
}
p {
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 2rem;
}
b {
    font-weight: 600;
}
.top-logo {
    font-size: 1.6rem;
}
video {
    width: 100%;
}
.header-text-no-padding-bottom {
    padding-bottom: 0;
}

/*HEADER Style*/
header {
    width: 100%;
    height: auto;
}
.header-background {
    background-image: url(./pic/header.png.png);
    background-repeat: no-repeat;
    background-size: 126%;
    background-position: center top;
    width: 100%;
    height: 300px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

header div .header-text {
    margin: 0 15% 0 15%;
    text-align: right;
}

header div .header-text h1 {
    margin-right: 10%;
}

/*ARTICLE 1*/
article {
    display: flex;
}
.text-article-1 {
    margin: 12% 0 0 10%;
}
article img {
    width: 50%;
    height: auto;
}

/*ARTICLE 2*/
.text-article-2 {
    margin: 12% 10% 0 0;
    text-align: right;
}
/*ARTICLE 3*/
.text-article-3 {
    display: flex;
    flex-direction: column;
}
.text-article-3 p {
    margin: 0 15% 0 15%;
}
/*FOOTER with background*/
.footer-background {
    background-image: url(./pic/Q1_newsletter-02.png);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center top;
    height: 16rem;
    flex-direction: column;
    padding-top: 9em;
}
.footer-background > h1,
.footer-background > p {
    margin: 0 15% 0 15%;
    text-align: center;
}
/*FOOTER SOLID*/
.footer-solid {
    background-color: #1A1919;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    color: white;
}
.footer-box-1,
.footer-box-2 {
    width: 35%;
    padding: 3rem 0 3rem 0;
}
.footer-box-1 {
    margin-right: 4rem;
}
.footer-box-2 > .footer-box-2-text {
    margin-top: 5rem;    
}

/*===========================================================
 3 brytpunkter
 375px, 768px, 1000px 
 ===========================================================*/

/*iPad/tablet size (multiply with 2.048 or 204.8%)*/
@media only screen and (min-width: 768px) {
    * {
        font-size: 2.048vw;
    }
    .header-background {
        height: 690px;
    }
    /*FOOTER with background*/
.footer-background {
    height: 12rem;
}
    /*FOOTER SOLID*/
.footer-solid {
    height: 20rem;
}
}


/*Desktop and above*/
@media only screen and (min-width: 999px) {
    * {
        font-size: 1vw;
    }
    body {
        display: flex;
        justify-content: center;
    }
    .box {
        width: 1000px;
        align-items: center;
    }
    header div .header-text {
        margin: 55% 15% 20% 15%;
        padding-bottom: 6rem;
    }
}
